<mat-card>
    <mat-card-title>Editar informações</mat-card-title>
  
    <form (ngSubmit)="saveInformation()" #editProfessorForm="ngForm" >
      <div class="card-content-container">
        <mat-form-field type="text">
          <input matInput [(ngModel)]="siap" maxLength="7" placeholder="SIAP" name="siap" pattern="[0-9]{7}" required>
          <mat-hint align="end">{{siap?.length || 0}}/7</mat-hint>
          <mat-error *ngIf="siapControl.errors.required">{{getErrorMessage(siapControl)}}</mat-error>
        </mat-form-field>
    
        <mat-form-field type="text">
          <input matInput [(ngModel)]="name" placeholder="nome" name="name" required>
          <mat-error *ngIf="nameControl.invalid">{{getErrorMessage(nameControl)}}</mat-error>
        </mat-form-field>
    
        <mat-form-field type="text">
          <input matInput [(ngModel)]="nickname" maxLength="12" placeholder="apelido" name="nickname" required>
          <mat-hint align="end">{{nickname?.length || 0}}/12</mat-hint>
          <mat-error *ngIf="nicknameControl.invalid">{{getErrorMessage(nicknameControl)}}</mat-error>
        </mat-form-field>

        <mat-card-actions class="card-actions">
            <button mat-button class="button" color="primary" [routerLink]="['/professors']">CANCELAR</button>          
            <button type="submit" mat-button class="button" color="primary" [disabled]="!editProfessorForm.form.valid">SALVAR</button>
        </mat-card-actions>
      </div> 
    </form>
  
  </mat-card>