
<mat-toolbar color="primary" class="toolbar">
  <button mat-button class="button" routerLink="/">Alocca</button>
  <button mat-button class="button" routerLink="/professors">Professores</button>
  <button mat-button class="button" routerLink="/courses">Disciplinas</button>
  <button mat-button class="button" routerLink="/classes">Turmas</button>
  <button mat-button class="button" routerLink="/schedules-table">Horários</button> 
  <span class="spacer"></span>

  <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="addNewSemester()">
        <mat-icon color="accent"> add_circle </mat-icon>
        <span> Novo Semestre </span>
      </button>

      <button mat-menu-item *ngFor="let sem of semestersList | orderBy:'identifier':false">
         <button mat-icon-button (click)="deleteSemester(sem, sem.key)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
         <span  (click)="onSemesterSelected(sem.key)" class="semester-span">  {{sem.identifier}}  </span>
      </button>

  </mat-menu>

  <button mat-button [matMenuTriggerFor]="appMenu">{{ selectedSemester || 'Semestre' }}</button>
  <button mat-button class="button" routerLink="/users">Usuários</button>
  <button mat-button class="button" (click)="logout()">Sair</button>

</mat-toolbar>
