<mat-card>
  <mat-card-title>Requisição de Acesso</mat-card-title>
  <form [formGroup]="classForm">

      <div class="form-container">

        <mat-form-field>
          <input type="text" size="7" maxlength="7" pattern="[0-9]{7}" placeholder="SIAPE" matInput formControlName="SIAPE" required>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Nome" matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@+[a-z]+.ufcg.edu.br" matInput formControlName="email" required>
        </mat-form-field>

        <button (click)="onAddNewRequest()" mat-button class="button" color="primary" >Cadastrar</button>
      </div>
  </form>
</mat-card>
