.form-container {
    width: 100%;
    flex-direction: column;
}

.form-container > * {
    margin-right: 28px;
    display: inline-block;
    width: 27%;
}

.form-container button {
    display: inline-block;
    width: auto;
}

#number {
    width: 5%;
}

#note {
    width: 40%;
}
