<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">

      <mat-tab-group>
        <mat-tab label="Novos">
          <ng-template mat-tab-label>
            <mat-icon color="primary">warning</mat-icon>
          </ng-template>
          <mat-card class="alert-card">
            <mat-card-header class="alert-card-header">
              <mat-card-title>Violação de Créditos</mat-card-title>
            </mat-card-header>
            <mat-card-content class="alert-card-content">
              <p>
                O(A) professor(a) Joseana está com mais créditos que o limite estabelecido
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="warn">Ignorar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="alert-card">
            <mat-card-header color="primary" class="alert-card-header">
              <mat-card-title>Violação de Créditos</mat-card-title>
            </mat-card-header>
            <mat-card-content class="alert-card-content">
              <p>
                O(A) professor(a) Gustavo está com menos créditos que o limite estabelecido
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="warn">Ignorar</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab label="Ignorados">
          <ng-template mat-tab-label>
            <mat-icon color="primary">thumb_down</mat-icon>
          </ng-template>
          <mat-card class="alert-card">
            <mat-card-header color="primary" class="alert-card-header">
              <mat-card-title>Violação de Créditos</mat-card-title>
            </mat-card-header>
            <mat-card-content class="alert-card-content">
              <p>
                O(A) professor(a) Kyller está com menos créditos que o limite estabelecido
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary">Mover para "Principais"</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
    </mat-tab-group>

    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-mini-fab type="submit" mat-button class="button" color="primary" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-card>
        <mat-card-title>Criar turmas</mat-card-title>
        <form [formGroup]="classForm">

            <div class="form-container">

              <mat-form-field>
                <input type="text" placeholder="Disciplina" matInput formControlName="courseControl"
                [matAutocomplete]="coursesAuto">
                <mat-autocomplete #coursesAuto="matAutocomplete" [displayWith]="displayCourse">
                  <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
                    {{ course.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field>
                <input type="text" placeholder="Professor 1" matInput formControlName="professor1Control"
                [matAutocomplete]="prof1Auto">
                <mat-autocomplete #prof1Auto="matAutocomplete" [displayWith]="displayProfessor">
                  <mat-option *ngFor="let prof of filteredProfessors1 | async" [value]="prof">
                    {{ prof.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field>
                <input type="text" placeholder="Professor 2" matInput formControlName="professor2Control"
                 [matAutocomplete]="prof2Auto">
                <mat-autocomplete #prof2Auto="matAutocomplete" [displayWith]="displayProfessor">
                  <mat-option *ngFor="let prof of filteredProfessors2 | async" [value]="prof">
                    {{ prof.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <button (click)="saveClass()" mat-button class="button" color="primary" >SALVAR</button>
            </div>

        </form>
      </mat-card>

      <div class="table-container mat-elevation-z8">

        <div class="table-header">
          <mat-form-field class="filter-input">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- the sorted column's name must match the data property name -->
          <ng-container matColumnDef="check">
            <mat-header-cell *matHeaderCellDef> Verificado </mat-header-cell>
            <mat-cell *matCellDef="let class_" class="checkbox-cell">
              <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? updateVerification(class_.key, !class_.verified) : null"
              [checked]="class_.verified"></mat-checkbox>
          </mat-cell>
          </ng-container>

          <ng-container matColumnDef="course">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Disciplina </mat-header-cell>
            <mat-cell *matCellDef="let class_">{{ class_.courseName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Turma </mat-header-cell>
            <mat-cell *matCellDef="let class_">{{ class_.number }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="prof1">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Professor 1 </mat-header-cell>
            <mat-cell *matCellDef="let class_">{{  class_.professor1Name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="prof2">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Professor 2 </mat-header-cell>
            <mat-cell *matCellDef="let class_">{{ class_.professor2Name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="schedule">
            <mat-header-cell *matHeaderCellDef> Horários </mat-header-cell>
            <mat-cell *matCellDef="let class_">{{ class_.schedule? class_.schedule : ""}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef> Observação </mat-header-cell>
            <mat-cell *matCellDef="let class_">{{ class_.note?  class_.note : "" }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let class_">
                <button mat-icon-button color="accent">
                    <mat-icon class="table-options" matTooltip="Editar Informações" [matTooltipShowDelay]="800" (click)="redirectToEdition(class_.key)">edit</mat-icon>
                  </button>
                <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClass(class_, class_.key)">
                  <mat-icon class="table-options">delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['check', 'course', 'number', 'prof1', 'prof2', 'schedule', 'note', 'options']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['check', 'course', 'number', 'prof1', 'prof2', 'schedule', 'note', 'options'];"></mat-row>
        </mat-table>

        <span class="spacer"></span>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
