.form-container {
    width: 100%;
    flex-direction: column;
}

.form-container > * {
    margin-right: 28px;
    display: inline-block;
    width: 27%;
}

.form-container button {
    display: inline-block;
    width: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    min-width: 300px;
    margin-top: 28px;
}

.table-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.filter-input {
    width: 100%;
}

.checkbox-cell {
    overflow: initial;
}


.alert-card-header {
  background-color: #000077;
  margin-bottom: 7px;
}

.alert-card {
  margin-bottom: 20px;
}

mat-card-title {
  color: #FFFFFF;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
