<mat-card>
  <mat-card-title>Criar turmas</mat-card-title>
  <form [formGroup]="classForm">

      <div class="form-container">

        <mat-form-field>
          <input type="text" placeholder="Disciplina" matInput formControlName="courseControl" 
          [matAutocomplete]="coursesAuto">
          <mat-autocomplete #coursesAuto="matAutocomplete" [displayWith]="displayCourse">
            <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
              {{ course.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Professor 1" matInput formControlName="professor1Control" 
          [matAutocomplete]="prof1Auto">
          <mat-autocomplete #prof1Auto="matAutocomplete" [displayWith]="displayProfessor">
            <mat-option *ngFor="let prof of filteredProfessors1 | async" [value]="prof">
              {{ prof.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Professor 2" matInput formControlName="professor2Control"
           [matAutocomplete]="prof2Auto">
          <mat-autocomplete #prof2Auto="matAutocomplete" [displayWith]="displayProfessor">
            <mat-option *ngFor="let prof of filteredProfessors2 | async" [value]="prof">
              {{ prof.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button (click)="saveClass()" mat-button class="button" color="primary" >SALVAR</button>
      </div>

  </form>
</mat-card>