<div class="table-container mat-elevation-z8">

  <div class="table-header">
    <mat-form-field class="filter-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- the sorted column's name must match the data property name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let reqUser">{{reqUser.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siape">
      <mat-header-cell *matHeaderCellDef> siape </mat-header-cell>
      <mat-cell *matCellDef="let reqUser">{{reqUser.siape}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let reqUser">{{reqUser.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let reqUser">
          <button mat-icon-button color="accent">
            <mat-icon class="table-options" matTooltip="Editar Informações" [matTooltipShowDelay]="800" (click)="redirectToEdition(user.key)">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteUser(user, user.key)">
            <mat-icon class="table-options">delete</mat-icon>
          </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'siape', 'email', 'options']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'siape', 'email', 'options'];"></mat-row>

  </mat-table>

  <span class="spacer"></span>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
