.router-outlet-container {
    padding: 28px;
}
.quebrapagina {
    page-break-after: always;
    page-break-inside: avoid;
  
}
.login-page{
    align-content: center;
    align-items: center;
    align-self: center;
}