.form-row {
    width: 100%;
    flex-direction: column;
}

.form-row > * {
    margin-right: 28px;
    display: inline-block;
    width: 30%;
}

.form-row button {
    display: inline-block;
    width: auto;
}

.switch-case {
    width: 100%;
    flex-direction: column;
}

.min-semester {
    width: 45%;
}

.max-semester {
    width: 45%;
    float: right;
}

.table-container button {
    width: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    min-width: 300px;
    margin-top: 28px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.table-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.filter-input {
    width: 100%;    
}

.mat-column-actions {
    flex: 0 0 100px !important;
    white-space: unset !important;
}

.table-options {
    width: 42px;
}