<head>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">
      <mat-tab-group>
        <mat-tab label="Novos">
          <ng-template mat-tab-label class="mat-tab-label">
            <mat-icon color="primary">error_outline</mat-icon>
          </ng-template>
          <mat-card class="alert-card">
            <mat-card-header class="alert-card-header">
              <button mat-button color="primary" class="header-button">Violação de Créditos</button>
            </mat-card-header>
            <mat-card-content class="alert-card-content">
              <p>
                O(A) professor(a) Joseana está com mais créditos que o limite estabelecido
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="warn">Ignorar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="alert-card">
            <mat-card-header color="primary" class="alert-card-header">
              <button mat-button color="primary" class="header-button">Violação de Créditos</button>
            </mat-card-header>
            <mat-card-content class="alert-card-content">
              <p>
                O(A) professor(a) Gustavo está com menos créditos que o limite estabelecido
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="warn">Ignorar</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab label="Ignorados">
          <ng-template mat-tab-label>
            <mat-icon color="primary">highlight_off</mat-icon>
          </ng-template>
          <mat-card class="alert-card">
            <mat-card-header color="primary" class="alert-card-header">
              <button mat-button color="primary" class="header-button">Violação de Créditos</button>
            </mat-card-header>
            <mat-card-content class="alert-card-content">
              <p>
                O(A) professor(a) Kyller está com menos créditos que o limite estabelecido
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary">Mover para aba principal</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <div>
  </div>
    <mat-sidenav-content>
        <div class="mat-mini-fab material-icons mdl-badge mdl-badge--overlap" data-badge="2" (click)="sidenav.toggle()">
          <button  md-to type="submit" mat-button class="mat-mini-fab md-bottom-right sidebar-button"
            color="primary">
          <mat-icon>announcement</mat-icon>
          </button>
        </div>

        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquise uma turma">
            </mat-form-field>
          </div>


          <mat-table #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Hour Column -->
            <div id = "hora">
              <ng-container matColumnDef="horario">
                <mat-header-cell id="horario-header-cell" *matHeaderCellDef> Horário </mat-header-cell>
                <mat-cell id="horario-cell" *matCellDef="let element"> {{element.horario}}
                </mat-cell>
              </ng-container>
            </div>

            <!-- Monday Column -->
              <ng-container matColumnDef="segunda">
                <mat-header-cell *matHeaderCellDef> Segunda </mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <mat-form-field>
                    <mat-select placeholder="Selecione a turma">
                      <mat-option value="let element"> {{element.segunda}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </mat-cell>
              </ng-container>

              <!-- Tuesday Column -->
              <ng-container matColumnDef="terca">
                <mat-header-cell *matHeaderCellDef> Terça </mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <mat-form-field>
                    <mat-select placeholder="Selecione a turma">
                      <mat-option value="let element"> {{element.terca}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </mat-cell>
              </ng-container>

              <!-- Wednesday Column -->
              <ng-container matColumnDef="quarta">
                <mat-header-cell *matHeaderCellDef> Quarta </mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <mat-form-field>
                    <mat-select placeholder="Selecione a turma">
                      <mat-option value="let element"> {{element.quarta}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="quinta">
                  <mat-header-cell *matHeaderCellDef> Quinta </mat-header-cell>
                  <mat-cell *matCellDef="let element">

                    <mat-form-field>
                      <mat-select placeholder="Selecione a turma">
                        <mat-option value="let element"> {{element.quinta}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="sexta">
                    <mat-header-cell *matHeaderCellDef> Sexta </mat-header-cell>
                    <mat-cell *matCellDef="let element">

                      <mat-form-field>
                        <mat-select placeholder="Selecione a turma">
                          <mat-option value="let element"> {{element.sexta}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>