<head>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>

<!-- ADMIN USER VIEW -->
<mat-sidenav-container *ngIf="userPermission" class="example-container">
    <!-- SIDENAV TAB -->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">
      <app-alerts
      [semesterKey]="semesterKey"></app-alerts>
    </mat-sidenav>
    <div>
    </div>

    <!-- PAGE CONTENT -->
    <mat-sidenav-content>
      <!-- SCHEDULE CLASS FORM -->
      <mat-card>
          <div class="mat-mini-fab material-icons mdl-badge mdl-badge--overlap" data-badge="2" (click)="sidenav.toggle()">
            <button  md-to type="submit" mat-button class="mat-mini-fab md-bottom-right sidebar-button"
            color="primary">
              <mat-icon>announcement</mat-icon>
            </button>
          </div>

          <mat-card-title>Definir horários</mat-card-title>

          <form (ngSubmit)="scheduleClass()" #scheduleClassForm="ngForm" >
            <div class="card-content-container">

              <!-- Class Input -->
              <mat-form-field type="text" id="class-input">
                <input matInput placeholder="Turma" [(ngModel)]="class" name="class" [matAutocomplete]="classesAuto" required>
                <mat-autocomplete #classesAuto="matAutocomplete" [displayWith]="displayClass">
                  <mat-option *ngFor="let clas of classesList" [value]="clas">
                    {{ clas.courseName }} - t{{ clas.number }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="classControl.errors.required">{{getErrorMessage(classControl)}}</mat-error>
              </mat-form-field>

              <!-- Day Input -->
              <mat-form-field type="text" id="day-input">
                <mat-select placeholder="Dia" [(ngModel)]="day" name="day" required>
                  <mat-option *ngFor="let day of DAYS" [value]="day">
                    {{ day }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="dayControl.errors.required">{{getErrorMessage(dayControl)}}</mat-error>
              </mat-form-field>

              <!-- Hour Input -->
              <mat-form-field type="text" id="hour-input">
                <mat-select placeholder="Hora" [(ngModel)]="hour" name="hour" required>
                  <mat-option *ngFor="let hour of HOURS" [value]="hour">
                    {{ hour }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hourControl.errors.required">{{getErrorMessage(hourControl)}}</mat-error>
              </mat-form-field>
              <button type="submit" mat-button class="button" color="primary" [disabled]="!scheduleClassForm.form.valid">SALVAR</button>
            </div>
          </form>

      </mat-card>

      <!-- SCHEDULE-CLASSES TABLE -->
      <div class="main-container mat-elevation-z8">
        <div class="main-header">
          <mat-form-field id="filter-form">
            <input matInput id="filter-input" (keyup)="applyFilter($event.target.value)" placeholder="Filtre as turmas">
          </mat-form-field>

          <mat-form-field  class="filter">
            <mat-select placeholder="Período" [(ngModel)]="filteredSemester" (change)="applyFilters()" name="semester">
              <mat-option>Todos</mat-option>
              <mat-option *ngFor="let semester of semesters" [value]="semester">
                {{ semester }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="filter">
              <mat-select  placeholder="Tipo" [(ngModel)]="filteredType"  (change)="applyFilters()"  name="type">
                <mat-option>Todos</mat-option>
                <mat-option *ngFor="let type of courseTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
          </mat-form-field>

        </div>
        <mat-table #table [dataSource]="dataSourceMainTable">

          <!-- Time Column -->
          <ng-container matColumnDef="time" class="time-column">
            <mat-header-cell id="time-header-cell" *matHeaderCellDef> Horário </mat-header-cell>
            <mat-cell id = "time-cell" *matCellDef="let row"> {{row.hour}}h
              </mat-cell>
          </ng-container>

          <!-- Monday Column -->
          <ng-container matColumnDef="monday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Segunda </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.monday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'monday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
          </ng-container>

          <!-- Tuesday Column -->
          <ng-container matColumnDef="tuesday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Terça </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
                <table>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let class of classesFiltered">
                    <span *ngFor="let time of class.schedule.tuesday.hours">
                      <span *ngIf="time == row.hour">
                        <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                        <td class="td-professor">{{class.professor1Name}}  </td>
                        <td class="td-tipo">{{class.courseType}}  </td>
                        <td>{{class.courseSemester}}º</td>
                        <td>
                          <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'tuesday',row.hour)">
                            <mat-icon class="table-options excluir">delete</mat-icon>
                          </button>
                        </td>
                      </span>
                    </span>
                  </tr>
                </table>
            </mat-cell>
          </ng-container>

          <!-- Wednesday Column -->
          <ng-container matColumnDef="wednesday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Quarta </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.wednesday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'wednesday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
          </ng-container>

          <!-- Thursday Column -->
          <ng-container matColumnDef="thursday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Quinta </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.thursday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'thursday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
          </ng-container>

          <!-- Friday Column -->
          <ng-container matColumnDef="friday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Sexta </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.friday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'friday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsMainTable"></mat-header-row>
          <mat-row *matRowDef="let row; columns:displayedColumnsMainTable;"></mat-row>
        </mat-table>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- DEFAULT USER VIEW -->
<!-- SCHEDULE-CLASSES TABLE -->
<div *ngIf="!userPermission" class="main-container mat-elevation-z8">
    <div class="main-header">
        <input matInput id="filter-input" (keyup)="applyFilter($event.target.value)" placeholder="Filtre as turmas">
    </div>
    <mat-table #table [dataSource]="dataSourceMainTable">

      <!-- Time Column -->
      <ng-container matColumnDef="time" class="time-column">
        <mat-header-cell id="time-header-cell" *matHeaderCellDef> Horário </mat-header-cell>
        <mat-cell id = "time-cell" *matCellDef="let row"> {{row.hour}}h
          </mat-cell>
      </ng-container>

      <!-- Monday Column -->
      <ng-container matColumnDef="monday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Segunda </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.monday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'monday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
      </ng-container>

      <!-- Tuesday Column -->
      <ng-container matColumnDef="tuesday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Terça </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
                <table>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let class of classesFiltered">
                    <span *ngFor="let time of class.schedule.tuesday.hours">
                      <span *ngIf="time == row.hour">
                        <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                        <td class="td-professor">{{class.professor1Name}}  </td>
                        <td class="td-tipo">{{class.courseType}}  </td>
                        <td>{{class.courseSemester}}º</td>
                        <td>
                          <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'tuesday',row.hour)">
                            <mat-icon class="table-options excluir">delete</mat-icon>
                          </button>
                        </td>
                      </span>
                    </span>
                  </tr>
                </table>
            </mat-cell>
      </ng-container>

      <!-- Wednesday Column -->
      <ng-container matColumnDef="wednesday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Quarta </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.wednesday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'wednesday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
      </ng-container>

      <!-- Thursday Column -->
      <ng-container matColumnDef="thursday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Quinta </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.thursday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'thursday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
      </ng-container>

      <!-- Friday Column -->
      <ng-container matColumnDef="friday">
            <mat-header-cell class="week-header-cell" *matHeaderCellDef> Sexta </mat-header-cell>
            <mat-cell class="week-cell" *matCellDef="let row">
              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let class of classesFiltered">
                  <span *ngFor="let time of class.schedule.friday.hours">
                    <span *ngIf="time == row.hour">
                      <td class="td-turma">{{class.courseName}}-t{{class.number}}  </td>
                      <td class="td-professor">{{class.professor1Name}}  </td>
                      <td class="td-tipo">{{class.courseType}}  </td>
                      <td>{{class.courseSemester}}º</td>
                      <td>
                        <button mat-icon-button color="warn" matTooltip="Excluir" [matTooltipShowDelay]="800" (click)="deleteClassSchedule(class,'friday',row.hour)">
                          <mat-icon class="table-options excluir">delete</mat-icon>
                        </button>
                      </td>
                    </span>
                  </span>
                </tr>
              </table>
            </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsMainTable"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumnsMainTable;"></mat-row>
    </mat-table>
</div>
