.form-row {
    width: 100%;
    flex-direction: column;
}

.form-row > * {
    margin-right: 28px;
    display: inline-block;
    width: 20%;
}


.form-row button {
    display: inline-block;
    width: auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    /*max-height: 500px;*/
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: auto;
}

.hora{
    max-height: 10px;
}

.mat-option{
    width: 80%;
}

.mat-cell-1,
.mat-header-1{
  flex: 0 0 5%;
}

.mat-header-cell,
.mat-header-row {
  color: #FFFFFF;
  background: #3798b7;
  text-align: center;
}

#horario-header-cell,
#horario-cell {
  flex: 0 0 5%;
  text-align: center;
}

.mat-form-field {
  width: 70% !important;
  align-items: center !important;
  text-align: center;

}

/*
  Sidenav
*/

mat-sidenav {
  width: 255px;
  height: auto;
}

mat-sidenav-content {
}

.alert-card-header {
  background-color: #000077;
  margin-bottom: 7px;
}

.alert-card {
  margin-bottom: 20px;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.header-button {
  color: #FFFFFF;
}

.mat-mini-fab {
  position: absolute;
  right: 0px;
  margin: 0px;
  margin-top: 1%;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
 min-width: 20px !important;
 padding: 10px!important;
 margin: 10px!important;
}
