  <mat-tab-group>
    <mat-tab label="Novos">
      <ng-template mat-tab-label class="mat-tab-label">
        <mat-icon color="primary">error_outline</mat-icon>
      </ng-template>

      <mat-card class="alert-card" *ngFor="let alert of alerts">
        <mat-card-header class="alert-card-header">
          <button mat-button color="primary" class="header-button"> {{ alert.type }}</button>
        </mat-card-header>
        <mat-card-content class="alert-card-content">
          <p>
            {{ alert.message }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" (click)="alertsDmService.ignoreAlert(alert.key)">Ignorar</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Ignorados">
      <ng-template mat-tab-label>
        <mat-icon color="primary">highlight_off</mat-icon>
      </ng-template>
      <mat-card class="alert-card" *ngFor="let alert of ignoredAlerts">
        <mat-card-header color="primary" class="alert-card-header">
          <button mat-button color="primary" class="header-button">{{ alert.type }}</button>
        </mat-card-header>
        <mat-card-content class="alert-card-content">
          <p>
            {{ alert.message }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="alertsDmService.undoIgnoredAlert(alert.key)">Mover para aba principal</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
</mat-tab-group>

